<include file="Common:header"/>
<!--BEGIN FORM STYLE-->
<link rel="stylesheet" type="text/css" href="__METRONIC_CSS__/uniform.default.css"/>
<link rel="stylesheet" type="text/css" href="__METRONIC_CSS__/select2_metro.css" />
<link rel="stylesheet" type="text/css" href="__METRONIC_CSS__/chosen.css" />

<!--END FORM STYLE-->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <include file="Common:nav"/>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content fill-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        Dashboard <small>statistics and more</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a href="{:U('Index/index')}">首页</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <notempty name="breadcrumb">
                            {$breadcrumb}
                            <else/>
                            <li><a href="#">Dashboard</a></li>
                        </notempty>
                        <li class="pull-right no-text-shadow">
                            <div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive"
                                 data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
                                <i class="icon-calendar"></i>
                                <span></span>
                                <i class="icon-angle-down"></i>
                            </div>
                        </li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!--BEGIN PAGER FORM-->
            <div class="row-fluid">
                <div class="span12">
                    <div class="portlet box purple">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-reorder"></i>{$model.name|default='添加控制器'}</div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>
                                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                <a href="javascript:;" class="reload" data-role="__METRONIC_IMG__/fancybox_loading.gif" data-form="form_sample_1" data-reset="1"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form action="__URL__/edithandler" method="post" id="form_sample_1" class="form-horizontal" novalidate="novalidate"  enctype="multipart/form-data">
                                <div class="alert alert-error hide">
                                    <button class="close" data-dismiss="alert"></button>
                                    {$Think.lang.form_error}
                                </div>
                                <div class="alert alert-success hide">
                                    <button class="close" data-dismiss="alert"></button>
                                    {$Think.lang.form_success}
                                </div>
                                <div class="alert alert-error hide control-name">
                                    <button class="close" data-dismiss="alert"></button>
                                    {$Think.lang.control}{$Think.lang.not_null}
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{$Think.lang.father}{$Think.lang.control}<span class="required">*</span></label>
                                    <div class="controls">
                                        <select class="span4 m-wrap" name="fid">
                                            <option value="0">{$Think.lang.top}{$Think.lang.control}</option>
                                            <volist name="model_list" id="cate">
                                                <option value="{$cate.id}" <eq name="cate.id" value="$model.fid">selected='selected'</eq> >{$cate.html}{$cate.name}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{$Think.lang.control}{$Think.lang.title}<span class="required">*</span></label>
                                    <div class="controls">
                                        <input type="text" name="name" value="{$model.name}" id="control-name" data-required="1" class="span4 m-wrap" placeholder="{$Think.lang.control}{$Think.lang.title}">
                                        <button type="button" id="Pinyin" class="btn blue">{$Think.lang.Pinyin}</button>
                                        <input type="hidden" name="id" value="{$model.id}"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{$Think.lang.control}{$Think.lang.name}<span class="required">*</span></label>
                                    <div class="controls">
                                        <input type="text" name="title" value="{$model.title}" id="control-title" class="span4 m-wrap" placeholder="{$Think.lang.control}{$Think.lang.name}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{$Think.lang.control}{$Think.lang.description}</label>
                                    <div class="controls">
                                        <textarea name="info"class="span4 m-wrap" placeholder="{$Think.lang.control}{$Think.lang.description}">{$model.info}</textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{$Think.lang.control}{$Think.lang.show}</label>
                                    <div class="controls">
                                        <label class="radio-inline inline-width">
                                            <input type="radio" name="show"  value="0" <eq name="model.show" value="0">checked='checked'</eq> >{$Think.lang.show}
                                        </label>
                                        <label class="radio-inline inline-width">
                                            <input type="radio" name="show"  value="1" <eq name="model.show" value="1">checked='checked'</eq> >{$Think.lang.un_show}
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{$Think.lang.control}{$Think.lang.ico}</label>
                                    <div class="controls">
                                        <input type="text" value="{$model.ico}" name="ico" value="{$model.ico}" placeholder="{$Think.lang.control}{$Think.lang.ico}"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{$Think.lang.control}{$Think.lang.sort}</label>
                                    <div class="controls">
                                        <input type="text" name="sort" value="{$model.sort}" placeholder="{$Think.lang.sort}"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{$Think.lang.control}{$Think.lang.status}</label>
                                    <div class="controls">
                                        <label class="radio-inline inline-width">
                                            <input type="radio" name="status"  value="0"  <eq name="model.status" value="0">checked='checked'</eq> >{$Think.lang.enable}
                                        </label>
                                        <label class="radio-inline inline-width">
                                            <input type="radio" name="status"  value="1" <eq name="model.status" value="1">checked='checked'</eq> >{$Think.lang.forbidden}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn purple">{$Think.lang.submit}</button>
                                    <button type="button" class="btn" onclick="window.history.go(-1);">{$Think.lang.go_back}</button>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
            <!--END PAGER FORM-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="__METRONIC_JS__/jquery.validate.min.js"></script>
<script type="text/javascript" src="__METRONIC_JS__/additional-methods.min.js"></script>
<script type="text/javascript" src="__METRONIC_JS__/select2.min.js"></script>
<script type="text/javascript" src="__METRONIC_JS__/chosen.jquery.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL STYLES -->
<script type="text/javascript" src="__METRONIC_JS__/form-validation.js"></script>
<script type="text/javascript" src="__JS__/jquery.han2pin.min.js"></script>
<script type="text/javascript">
    $(function(){
        FormValidation.init();
        $('#Pinyin').click(function(){
            if($('#control-name').val()==''){
                $('.control-name').show();
                return false;
            }else{
                $('#control-title').val($('#control-name').toPinyin());
                $('.control-name').hide();
            }
        });
    });
</script>
<!-- END PAGE LEVEL STYLES -->
<include file="Common:footer"/>