body {background-color:#fff;}
html, body {height:100%;}
html body{font:12px Arial, Helvetica, sans-serif;color:#333333}
html>body{font:12px Arial, Helvetica, sans-serif;color:#333333}
#TB_overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index:100;
	width: 100%;
	height: 100%;
	background-color:#CCC;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
#TB_window {
	top: 0px;
	left: 0px;
	position: fixed;
	_position: absolute;
	background: #fff;
	z-index: 102;
	color:#000000;
	display:none;
	border:5px solid #666;
}
#TB_caption{
	height:25px;
	padding:10px 30px 10px 25px;
}
#TB_closeWindow{
	height:25px;
	padding:10px 25px 10px 0;
	float:right;
}
#TB_closeAjaxWindow{
	padding:5px 10px 7px 0;
	margin-bottom:1px;
	text-align:right;
	background-color:#e8e8e8;
}
#TB_ajaxContent{
	padding:2px 15px 15px 15px;
	overflow:auto;
}

#TB_load{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	overflow: visible;
	visibility: visible;
	display: block;
	z-index:101;
}
#TB_loadContent{
	margin-left: -125px;
	position: absolute;
	top: -50px;
	left: 50%;
	width: 250px;
	height: 100px;
	visibility: visible;
}